services:
  custom_homepage:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3033:3033"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["node", "server.js"]
    ports:
      - "3034:3034"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:
